*{
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}


.navbar-brand img {
    width: 1cm !important;
    height: 1cm !important;
}

.bg-dark {
    background-color: #020202 !important;
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
}

.btn-outline-success {
    color: white;
    border-color: white;
}
.btn-outline-success:hover {
    background-color: grey;
    border-color: grey;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: grey;
}

.navbar-light .navbar-toggler {
    color: white;
    border-color: white;
}

.carousel-item {
    height: 500px;
}

.carousel-item img{
    width: 100%;
    height: 100%;
}

/*Sticker de Whatsapp*/

.sticker img {
    width: 1cm;
    height: 1cm;
}

.sticker{
    position: sticky;
    top: 100px;
    border: 10px solid none;
    display: inline-block;
    float: right; 
    width: 80px;
}

.sticker img:hover {
    -moz-opacity:0.68 !important;
    filter:alpha(opacity=68);
    opacity: 0.68;
    -moz-opacity:0.68;
}

/*Publicidad*/

.propaganda img{
    background-size: cover;
    background-position: center center;
    width: 100%;
}

/*Datos de comunicación*/

.datoscontacto{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-position:center;
}


.datoscontacto a{
    text-decoration: none;
    color: #0e0d0d;
}

.datoscontacto img {
    width: 1cm;
    height: 1cm;
    flex-direction: column;
}

.fab {
    vertical-align: middle;
}

/* Vendido pag Inicio*/


.shadow-sm{
    font-size: 30px;
}
.card-text {
    font-size: 20px;
}

.card:hover {
    transform: scale(1.1);
}

.vista2{
    display: grid;
    grid-template-areas:
    "img1 img2 img2 img4"
    "img1 img3 img3 img4";
    margin-bottom: 5%;
    justify-items: center;
}

.vista2 img {
    width: 5cm;
}

.vista2 img:hover{
    -moz-opacity:0.68 !important;
    filter:alpha(opacity=68);
    opacity: 0.68;
    -moz-opacity:0.68;
}


.mouse{
    grid-area: img1;
}

.impresora{
    grid-area: img3;
}

.teclado{
    grid-area: img2;
}

.auriculares{
    grid-area: img4;
}

/*Testimono*/



/*Enlaces de Menu*/

.monitor img{
    display: inline-block;
    width: 5cm;
    height: 5cm;
    background-size: cover;
    background-position: center center;
    justify-content: space-evenly;
}

.tarjetamadre img{
    display:inline-block;
    width: 5cm;
    height: 5cm;
    background-size: cover;
    background-position: center center;
}

.redes img{
    display:inline-block;
    width: 5cm;
    height: 5cm;
    background-size: cover;
    background-position: center center;
}

.accesorios img{
    display:inline-block;
    width: 5cm;
    height: 5cm;
    background-size: cover;
    background-position: center center;
}

/*Titulos de Paginas*/

h1{
    line-height: 2cm;
    height: 50px;
    font-family: sans-serif;
    font-size: 20px;
    word-spacing: 4px;
    text-align: center;
}

/*Pag Contacto*/

.form-contacto {
    padding: 60px;
    border: rgb(5, 3, 3) 5px none;
}

.btn-light {
    color: #f8f9fa;
    background-color: black;
    border-color: #dae0e5;
}
/*Suscribete*/

.suscribete {
    margin-bottom: 2%;
    text-align: center;
    line-height: 20pt; 
}

.suscribete a{
    text-decoration: none;
    color: #0e0d0d;
}

/*Form*/

.testimonial {
    display: flex !important;
    justify-content: space-evenly;
    margin-bottom: 5%;
}

/*Footer*/
    
footer{
    width: 100%;
    background-color:#0e0d0d;
    color: white;
}

.container-body {
    width: 100%;
    max-width: 1200px;
    display: flex;
    padding-top: 1.42857rem;
    padding-bottom: 0.42857rem;
}

.column1{
    max-width: 200px;
    margin: 8px;
}

.column1 h5{
    font-size: 20px;
}

.column1 p{
    font-size: 12px; 

}

.column2 {
    max-width: 300px;
    margin-right: 20px;
    
}

.column2 h5{
font-size: 15px;
}

.row {
    margin-bottom: 5px;
    display: flow-root;
    margin-right: 0;
    margin-left: 0;
}

.row a i{
    color: #f8f9fa;
}

.row img {
    width: 25px;
    height: 25px;
    margin: 3px;
}

.row img:hover {
    -moz-opacity:0.68 !important;
    filter:alpha(opacity=68);
    opacity: 0.68;
    -moz-opacity:0.68;
}

.column3 {
    max-width: 300px;
    margin-right: 30px;
}

.column3 h5{
font-size: 15px;
}

.column4 {
    max-width: 300px;
    margin-right: 30px;
}

.column4 h5{
font-size: 15px;
}

.column5 {
    max-width: 300px;
    margin-right: 10px;
}

.column5 h5{
font-size: 15px;
}

label {
    display:inline;
    margin: 15px;
}

.row label{
    margin-top: 10px;
    margin-left: 20px;
}


.descripcion{
    display: grid;
    flex-direction: column;
    margin: auto;
    align-items: center; 
}



@media only screen and (max-width: 800px){
    .carousel-item {
        height: 250px;
    }

    .container-body {
        display: block;
        align-items: center;
    }
}

@media only screen and (max-width: 480px){

    .carousel-item {
        height: 150px;
    }

    .datoscontacto{
        display: block;
        text-align: center;
    }

    h2{
        text-align: center;
    }

    .vista2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

    .vista1{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 5%;
    }
    
    form{
        flex-direction: column;
        align-items: center;
    }

    .contacto{
        height: auto;
        width: auto;
    }

    .container-body {
        display: block;
        align-items: center;
    }
}